//colors
$primary-color: #404040;
$secondary-color: #f07a19;
$border-color: rgb(224, 224, 224);

// media query

$small-mobile: 320px;
$medium-mobile: 375px;
$large-mobile: 425px;
$tablet: 768px;

// specific dimensions
$headerSpace: 150px;

$margin-standard: 0 8vw;
$margin-left-standard: 8vw;
